# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19MYUR6d282YjN0RlUxalVzM0ZQVVMiLCJhcGlfa2V5IjoiMDFLNzZXVDZNQzc4SDc5Q1RKR1hTMDVQQkYiLCJ0ZW5hbnRfaWQiOiI5NzlmZTg3ZDkwN2JkNmE0YjYwMTE3YzQzZDk5OTVkMmU0NjA1NjUzMmFkYmEyOTdhYTU5MGJhMjUwNDg0N2NiIiwiaW50ZXJuYWxfc2VjcmV0IjoiNzE0MjMxMTItNDVlZi00MjRkLWI3YTEtMTg4ZGFjNjFjYmVhIn0.PLHpGTyOz-JCbxFNWEPOqpJxEIc6NpX7wUc96aQev7Y"
NEXTAUTH_SECRET=your_random_secret_key
NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=908348261152-3l6t96d3a522biivoi9e2q4tj6rl5mhh.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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